/* mobile first */

.hero__section {
  margin-top: 5rem;
  font-family: var(--ff-base);
  color: var(--clr-text);
  padding: 2.25em; /*36px*/
}

/* .hero__box_content > *:not(:last-child) {
  margin-bottom: 20px;
} */

.hero__box_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero__title {
  text-align: center;
  font-size: 1.5rem; /* 24px */
  line-height: 1.3em; /* in figma its 24px which is 1.5em ; but it doesn't look fit*/
  margin-bottom: 1.125em;
  color: var(--clr-text);
  font-weight: var(--fw-bold);
  font-family: var(--ff-title);
}

/* mb-16px */
.hero__description {
  text-align: center;
  font-size: 0.688rem; /*11px*/
  font-weight: 100;
  line-height: 1.2em; /* in figma its 13.2px which is 0.825em ; but it doesn't look better*/
  margin-bottom: 1.2em;
}

.hero__btn {
  font-family: inherit; /*inter*/
  font-size: 0.688rem; /*11px*/
  /* max-width: 6.25em; 100px */
  font-weight: var(--fw-bold);
  padding: 0.5em 1em; /*8px 16px*/
  color: var(--clr-white);
  background: var(--clr-blue);
  border: none;
  border-radius: var(--bradius-btn);
  cursor: pointer;
  flex-shrink: 0;
}

.hero__box_illustration {
  margin: 3.375em auto 0; /*top :54px ; right-left:auto */
  width: 10.125em; /*162px*/
  height: 8.75em; /*140px*/
}

.hero__potato_man {
  object-fit: cover;
  width: 100%;
}

/* Tablet */
@media (min-width: 600px) {
}

/* Desktop */
@media (min-width: 992px) {
}
