.faq-section {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}

.faq-section__heading {
  font-family: var(--ff-title);
  font-size: 1.778rem;
  font-weight: var(--fw-bold);
  letter-spacing: -0.62px;
  margin-bottom: 0.889em;
  color: #050505;
  text-align: left;
}

.faq-section__heading--small {
  display: none;
}

.faq-section__accordion-wrapper {
  font-family: Inter, sans-serif;
}

.accordion-item {
  padding-top: 1.333em;
  padding-bottom: 1.778em;
  border-bottom: 1px solid #EAECF0;
  max-width: 768px;
  font-weight: var(--fw-regular);
}

.accordion-item__title {
  font-size: 0.994rem;
  line-height: 1.556rem;
  color: #101828;
}

.accordion-item__title-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.accordion-item__content {
  margin-top: 0.444em;
  font-size: 0.889rem;
  color: var(--clr-dark-grey)
}

.accordion-item__content,
.accordion-item__title {
  max-width: 90%;
}

.hidden {
  display: none;
}

.accordion-item button {
  all: unset;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .faq-section {
    margin-inline: 16px;
  }

  .faq-section__heading {
    display: none;
  }

  .faq-section__heading--small {
    display: block;
    text-align: center;
    margin-bottom: 0.444em;
    font-size: 1.333rem;
    font-family: var(--ff-title);
  }

  .accordion-item {
    padding: 1.333em 0;
  }

  .accordion-item__title {
    font-size: 0.778rem;
    line-height: 1.089rem;
  }

  .accordion-item__content {
    font-size: 0.611rem;
  }

  .accordion-item__icon {
    width: 16px;
    height: 16px;
  }

}


@media only screen and (min-width: 600px) {
  .faq-section {
    margin-inline: 16px;
  }

  .accordion-item__title {
    font-size: 1rem;
  }

  .accordion-item__content {
    font-size: 0.778rem;
  }

  .accordion-item__icon {
    width: 16px;
    height: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .faq-section {
    width: 702px;
    margin-inline: auto;
  }

  .faq-section__heading {
    text-align: left;
  }

  .accordion-item__title {
    font-size: 1rem;
  }

  .accordion-item__content {
    font-size: 0.778rem;
  }

  .accordion-item__icon {
    width: 16px;
    height: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  .faq-section {
    width: 852px;
  }

  .accordion-item__icon {
    width: 20px;
    height: 20px;
  }
}
