.faq-section {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}

.faq-section__heading {
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
  font-size: 1.778rem;
  letter-spacing: -0.019em;
  line-height: 1.2em;
  margin-bottom: 0.889rem;
  text-align: left;
  color: var(--clr-text);
}

.faq-section__heading--small {
  display: none;
}

.faq-section__accordion-wrapper {
  font-family: var(--ff-base);
}

.accordion-item {
  display: flex;
  justify-content: space-between;
  padding-top: 1.333rem;
  padding-bottom: 1.778rem;
  border-bottom: 1px solid #EAECF0;
  /* max-width: 768px; */
  font-weight: var(--fw-regular);
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-item__title {
  font-size: 0.994rem;
  font-weight: var(--fw-regular);
  color: var(--clr-text-300);
}

.accordion-item__text-group {
  width: 100%;
}

.accordion-item__content {
  display: none;
  margin-top: 0.444rem;
  font-size: 0.889rem;
  color: var(--clr-dark-grey)
}

.accordion-item__content,
.accordion-item__title {
  max-width: 90%;
}

.accordion-item__content--active {
  display: block;
}

.accordion-item__icon {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .faq-section {
    margin-inline: 16px;
  }

  .faq-section__heading {
    display: none;
  }

  .faq-section__heading--small {
    display: block;
    text-align: center;
    margin-bottom: 0.444rem;
    font-size: 1.333rem;
    line-height: 1.2em;
    font-family: var(--ff-title);
  }

  .accordion-item {
    padding: 1.333em 0;
  }

  .accordion-item__title {
    font-size: 0.778rem;
    line-height: 1.4em;
  }

  .accordion-item__content {
    font-size: 0.611rem;
    line-height: 1.6em;
  }

  .accordion-item__icon {
    width: 16px;
    height: 16px;
  }

}

@media only screen and (min-width: 600px) {
  .faq-section {
    margin-inline: 16px;
  }

  .accordion-item__title {
    font-size: 1rem;
    line-height: 1.556em;
  }

  .accordion-item__content {
    font-size: 0.778rem;
    line-height: 1.7em;
  }

  .accordion-item__icon {
    width: 16px;
    height: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .faq-section {
    max-width: 702px;
    margin-inline: auto;
  }

  .faq-section__heading {
    text-align: left;
  }

  .accordion-item__title {
    font-size: 1rem;
  }

  .accordion-item__content {
    font-size: 0.778rem;
  }

  .accordion-item__icon {
    width: 16px;
    height: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .accordion-item__icon {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .accordion-item__title {
    line-height: 1.5em;
  }

  .accordion-item__content {
    line-height: 1.5em;
  }
}
