body{
    font-size: 18px;
}

.wrapper, .register-button{
    font-family: var(--ff-base);
    font-size: 1em;
}

.wrapper{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.78rem 4.67rem 0 4.23rem;
}


.logo > a{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

.logo > a > img{
    margin-left: 0.23rem;
    width: 1.34em;
}

.pages-links{
    margin-left: 6.23rem;
    width: 49.89rem;
}

.pages-links > a{
    margin-right: 2.23rem;
    
}

.pages-links > a > img{
    margin-left: 0.23rem;
}

.pages-links > #login-link{
    float: right;
}

.register-btn > button{
    background-color: var(--clr-accent);
    color: var(--clr-white);
    border: none;
    border-radius: 0.28rem;
    padding: 0.67rem 1.78rem;
}

.register-btn{
    display: flex;
    align-items: center;
    justify-content: end;
    border: none; 
    
}

 

