body{
    font-size: 18px;
}

.wrapper, .register-btn > button{
    font-family: var(--ff-base);
    font-size: 1em;
}

.wrapper{ 
    display: flex;
    align-items: center;
    padding: 1.78em 4.44em 0 4.44em;
}
.logo a{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

.logo  a  img{
    margin-left: 0.23em;
    width: 1.34em;
}

.pages-links{
    margin-left: 10%;
    display: flex;
    gap: 2.22em;
}

.pages-links a{
    width: 5.16em;
}

.register-btn > button{
    background-color: var(--clr-accent);
    color: var(--clr-white);
    border: none;
    border-radius: 0.28rem;
    padding: 0.67em 1.78em;
}

.register-btn{
    display: flex;
    align-items: center;
    justify-content: end;
    border: none; 
}

.hamburger-menu{
    display: none;
}

.register-login{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1.78em;
    justify-content: end;
}


.login-link > a{
    display: flex;
}

@media (width >= 420px) {
    .hamburger-menu-wrapper{
        display: none;
    }
}

@media (width <= 960px) {
    .wrapper{
        padding: 1.78em 2.67em 0 1.78em;
    }

    .register-btn > button{
        padding: 0.44em 2em;
    }

}

@media (width <= 420px) {
    .wrapper{
        display: flex;
        justify-content: space-between;
        padding: 1.12em 1em 1.71em 0.89em;
        border-bottom: solid;
    }
    .wrapper .register-login, .pages-links{
        display: none;
    }
    .hamburger-menu-wrapper{
        display: flex;
        flex-direction: column;
        
    }
    .hamburger-menu-wrapper .pages-links, .register-login{
        display: flex;
        flex-direction: column;
        gap: 1.71em;
    }
    .hamburger-menu-wrapper .pages-links{
        padding-top: 1.71em;
        border-bottom: solid;
        margin-left: 0;
        padding-bottom: 2.28em;
    }
    .hamburger-menu-wrapper .pages-links a{
        padding-left: 1.14em;
    }
    .hamburger-menu-wrapper .register-login{
        padding-top: 1.14em;
        padding-left: 1.14em;
        align-items: start;
    }
    .hamburger-menu{
        display: block;
    }
    .hamburger-menu > button{
        border: none;
    }
}




