:root {

  /*colors*/
  --clr-accent: #61C554;
  --clr-white: #FFFFFF;
  --clr-text: #000000;
  --clr-blue: #47A6FF;
  --clr-orange: #EA4E43;
  --clr-grey: #F1F1F1;
  --clr-dark-grey: #323232CC;
  --clr-dark-border: #0000001A;
  --clr-border-input: #0F0F0F1A;

  /*font family*/
  --ff-base: "Inter", sans-serif;
  --ff-title: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  /*font weight*/
  --fw-thin: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-title: 900;

  /*border-radius*/
  --bradius-btn: 0.313rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
}

/* Remove text-decoration  */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
}

/*utility classes*/
.bg-white {
  background-color: var(--clr-white);
  >>>>>>>main
}

.bg-grey {
  background-color: var(--clr-grey);
}
