:root {
  font-family: "Helvetica Neue", sans-serif, Inter ;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 0;
  font-weight: 0;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
#text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 136px;
  width: 500px;
}
h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  line-height: 68.4px;
  font-weight: 500;
  font-size: 57px;
  color: #050505;
  align-self: center;
}
#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 598px;
  width: 540px;
}
#cta-image{
  margin-bottom: 64px;
  width: 412px;
  height: 300px;
}
#email-form{
  margin-top: 64px;
  width: 540px;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#input-email{
  height: 34px;
  width: 365px;
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 5px;
  outline: none;
  outline-width: 0px;
  color: #999999;
  padding: 8px 8px 8px 16px;
}
#sign-up-button {
  margin-left: 8px;
  padding: 6px 52px 7.5px;
  width: 167px;
  box-sizing: border-box;
  height: 34px;
  background: #EA4E43;
  outline: none;
  outline-width: 0px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25.56px;
  text-align: center;
  color: #FFFFFF;
} 

